﻿@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
@* @if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
} *@

@* <partial name="_Notification" /> *@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
		</div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
			</a>
		</div>
	</div>
    <br /><br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th >Category Name</th>
            <th >Display Order</th>
                <th>Edit</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                        @item.Name
                </td>
                 <td>
                        @item.DisplayOrder
                 </td>
                 <td>
                     <div class="w-75 btn-group" role="group">
                            <a class="btn btn-primary mx-2" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i> Edit</a>

                            <a class="btn btn-danger mx-2"  asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                        </div>
                 </td>
            </tr>
        }
    </tbody>


</table>

    
